.nav {
    position: sticky;
    box-shadow:         0px 7px 10px 0px rgba(255, 72, 72, 0.767);
    top: 0;
    margin: auto;
    width: 100%;
    z-index: 1000;
    height          : 90px;
    display         : flex;
    align-items     : center;
    justify-content : space-around;
    background-color: $wt;
    &__logo {
        font-size   : 40px;
        font-family : $rb;
        padding-left: 30px;
    }
    &__menu {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        padding  : 0 30px;
    }
    
    &__link {
        padding    : 5px 10px;
        margin     : 0px;
        font-family: $rm;
        position   : relative;
        transition : 0.2s;
        font-family: $rb;
    }
    &__link:hover {
        color: $ch-d
    }
    &__link::before {
        content         : '';
        position        : absolute;
        bottom          : 0;left: 50%;
        transition      : 0.2s;
        height          : 2px;
        background-color: $ch-d;
        width           : 0%;
    // }
    // &__link:hover::before {
    //     left : 0;
    //     width: 100%;
    }
}

.active {
    color: $ch-d
}
.active::before {
    content         : '';
        position        : absolute;
        bottom          : 0;left: 50%;
        transition      : 0.2s;
        height          : 2px;
        background-color: $ch-d;
        width           : 100%;
        left: 0;
        transition: 0.2s;
}

