$l-container: 630px;
$container  : 1170px;
$ch         : #998675;
$ch-d       : rgb(255, 72, 72);
$txt        : rgb(255, 255, 255);
$wt         :#2a2a2a;
$back       : rgb(27, 27, 43);
$usl        : 16px;
$gy         :#1a1a1a;
$gy1        : #222222;