$l-container: 630px;
$container  : 1170px;
$ch         : #998675;
$ch-d       : #ff4848;
$txt        : rgb(0, 0, 0);
$wt         : rgb(255, 255, 255);
$back       : rgb(27, 27, 43);
$usl        : 16px;
$gy         : rgb(241, 241, 241);
$wt1        : rgb(245, 245, 245);